.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: black;
  color: white;
  border: none;
}
.button:hover {
  background-color: white;
  color: black;
  transition: 500ms;
}
