.container_page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 80vh;
  text-align: center;
  flex-direction: column;
}
.container {
  background-color: red;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
