.container{
    display: flex;
    justify-content: center;
  }
  .container_profile{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.history_num {
    margin: 0px 3px 0px 0px;
    border-radius: 10px;
    width: 3.5px;
    background-color: black;
  }
  .container_history_num {
    flex-wrap: wrap;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 43%;
    height: 300px;
    background-color: rgb(255, 0, 0);
    color: black;
  }
  .container_profile {
    flex-wrap: wrap;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 43%;
    height: 300px;
    background-color: rgb(255, 0, 0);
    color: black;
  }
  .profile_tag{
    color: white
  }