.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
  color: black;
}
.meter_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 550px;
  margin-bottom: 10px;
  background: linear-gradient(to bottom, rgb(2, 44, 255), rgb(39, 215, 255));
  border-radius: 10px;
}
.decibel_meter_container{
  display :flex ;
     flex-direction :column;
     width : 100%;
    align-items :center
}

@media screen and (max-width: 768px) {
  .container {
    min-height: 50vh;
  }
  .meter_container {
    height: 420px;
  }
}
